*.p12
.DS_Store
target
dist/
bundling/
assets/bin/tectonic
assets/bin/tectonic.exe
assets/tectonic/bundle/
*.swp
tmp
.zed
.cargo/config.toml

CLAUDE.md
AGENTS.md
FILE STRUCTURE.md
Monocurl Language.md
Syntax.md

# idea
**/.idea/workspace.xml **/.idea/tasks.xml
